USER_SESSION_COOKIE_KEY=user-auth.session-token
USER_SESSION_USER_COOKIE_KEY=user-auth.session-user
USER_SESSION_INSTITUTE_KEY=user-auth.session-institute
USER_SESSION_PROFILES_COOKIE_KEY=user-auth.session-profiles
USER_SESSION_AUTHORIZATIONS_COOKIE_KEY=user-auth.session-authorizations
NEXT_PUBLIC_BACKEND_URL=https://dev4.rawflavourfest.com
USER_AUTH_CALLBACK_URL_COOKIE_KEY=user-auth.callback-url
NEXT_PUBLIC_APP_URL=http://localhost:3000
