.wrapper {
	max-width: rem(1200px);
	margin: auto;
	margin-top: calc(var(--mantine-spacing-lg) * 4);
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: calc(var(--mantine-spacing-xl) * 2) 0;
	background-color: light-dark(
		var(--mantine-color-white),
		var(--mantine-color-dark-8)
	);
}

.wrapper-mobile {
	flex-direction: column-reverse;
	padding: var(--mantine-spacing-xl);
}

@media (max-width: $mantine-breakpoint-sm) {
	.wrapper {
		composes: wrapper-mobile;
	}
}

.image {
	max-width: 30%;
}

.image-mobile {
	max-width: 100%;
}

@media (max-width: $mantine-breakpoint-sm) {
	.image {
		composes: image-mobile;
	}
}

.body {
	max-width: 50%;
	padding-right: calc(var(--mantine-spacing-xl) * 4);
}

.body-mobile {
	max-width: 90%;
	padding-right: 0;
	margin-top: var(--mantine-spacing-xl);
}

@media (max-width: $mantine-breakpoint-sm) {
	.body {
		composes: body-mobile;
	}
}

.title {
	color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
	line-height: 1;
	margin-bottom: var(--mantine-spacing-sm);
}

.inputWrapper {
	width: 100%;
	flex: 1;
}

.input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
}

.controls {
	display: flex;
	margin-top: var(--mantine-spacing-xl);
}

.control {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
