.container {
	position: relative;
	width: 100%;
	padding: var(--mantine-spacing-md);
}

.title {
	font-family: var(--font-inter), var(--mantine-font-family);
	font-weight: 700;
	background: linear-gradient(45deg, var(--primary-6), var(--primary-4));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	position: relative;
	display: inline-block;
	margin-bottom: 1rem;
}

.title::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 60px;
	height: 3px;
	background: linear-gradient(90deg, var(--primary-6), var(--primary-4));
	border-radius: var(--radius-sm);
}

.breadcrumbs {
	margin-bottom: var(--mantine-spacing-md);
}

.breadcrumbs a {
	padding: 8px;
	border-radius: var(--mantine-radius-sm);
	font-weight: 500;
	color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
	transition: all ease 150ms;
}

.breadcrumbs a:hover {
	background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
	text-decoration: none;
}

.content {
	position: relative;
	width: 100%;
	margin-top: var(--mantine-spacing-xl);
}
